[Desktop Entry]
Encoding=UTF-8
Name=Slingcoin
Comment=Slingcoin P2P Cryptocurrency
Comment[fr]=Slingcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Slingcoin, eşten eşe kriptografik sanal para birimi
Exec=sling-qt %u
Terminal=false
Type=Application
Icon=sling128
MimeType=x-scheme-handler/sling;
Categories=Office;Finance;
